.list {
    width: 100%;
    margin-top: 10px;
  
    .listTitle {
      color: white;
      font-size: 20px;
      font-weight: 500;
      margin-left: 50px;
    }
    .wrapper{
        position: relative;
       
        
        .container{
             margin-left: 60px;
             display: flex;
             margin-top: 20px;
             width:max-content;
             transform: translateX(0px);
             transition: all 1s ease;
        }
    }
    
        
}
@media only screen and (max-width:800px) {
  /* For mobile phones: */
   .listitle{
    width:calc(( 100% / 2));
  }
}