
 .listitem .img {
       margin-right:22px;
       width: 10rem;
       overflow: hidden;
       cursor: pointer;
       
       }
 .img:hover  {
	transform: scale(1.2);
    
}

@media (max-width:500px) {
    
       .img{
        width:140%;
      }
    }