.slider{
    text-align: center;
    font-family: sans-serif;
    margin-top: 0vh;
    width: 100%;
}
.card{
    width: 290px;
    height: 160px;
    background-color: red;
    font-size: 30px;
    padding: 0;
}
.card_image{
    width: 100%;
    cursor: pointer;
}
.lgksPe{
  width: 0px!important;
  height: 0px!important;
}
.iLquPE.disabled{
    width: 0px!important;
    height: 0px!important;
  }
  .sc-gKHVLF{
   visibility: hidden;
  }
